html, body {
    margin: 0%;
    padding:0%;
    background-color: #CFD4C5;
    font-family: "Raleway";
}


/*First Page*/
#landing-page{
	z-index:0;
}

#quote {
	position:relative;
	z-index:4;
	margin-left:15%;
	font-size:21;
	top:60px;
}

#intro {
	margin-top: 30%;
	margin-left: 7%;
	margin-right: 58%;
	margin-bottom: 20%;
}

#intro h3 {
	font-size: 24;
	font-family: "Lusitana";
}

#first{
	z-index:5;
	position:fixed;
	background-color: #D1E6FF;
	height:100%;
	width:20%;
	margin-left:90%;
}

#second {
	z-index: 4;
	position:absolute;
	height:40%;
	width:15%;
	background-color: #D1E6FF;
}

#third {
	z-index:3;
	position:absolute;
	margin-left:7%;
	width:20%;
	height:50%;
	background-color: #F2F8FF;
}

#fourth {
	z-index:1;
	position:absolute;
	margin-left:37%;
	background-color: #D9EAFF;
	width:25%;
	height:60%;
}

#fifth {
	z-index:6;
	position:absolute;
	margin-left:72%;
	background-color: #B4D4FA;
	width:25%;
	height:115%;
}

#sixth {
	z-index: 7;
	position:absolute;
	margin-left:49%;
	background-color: #F2F8FF;
	width:25%;
	height:110%;
	margin-top: 10%;
}


#seventh img  {
	z-index:8;
	position:absolute;
	width:auto;
	height:auto;
	max-width: 34%;
	max-height: 100%;
	left:57%;
	top:5%;
}

#nav-bar {
	z-index:8;
	position:absolute;
	margin-top:23%;
	margin-left:38.5%;
}

@media (min-width:300px) and (max-width:400px) {
	#quote {
		position:relative;
		z-index:4;
		margin-left:10%;
		font-size:15;
		top:60px;
	}
	#intro {
		margin-top: 60%;
		margin-left: 7%;
		margin-right: 8%;
		margin-bottom: 0%;
	}
	#first {
		height:100%;
		width:10%;
		margin-left:90%;
	}

	#seventh img {
		display:none;
	}

	#second {
		height:25%;
		width:12%;
	}
	#third {
		margin-left:5%;
		width:15%;
		height:30%;
	}
	#fourth {
		z-index:1;
		position:absolute;
		margin-left:37%;
		background-color: #D9EAFF;
		width:25%;
		height:60%;
	}
	#fifth {
		z-index:6;
		position:absolute;
		margin-left:72%;
		background-color: #B4D4FA;
		width:25%;
		height:115%;
	}

	#sixth {
		z-index: 7;
		position:absolute;
		margin-left:49%;
		background-color: #F2F8FF;
		width:25%;
		height:110%;
		margin-top: 10%;
	}

}
