body, html {	/*the outer layer of the site and global style attributes*/
font-family: "Raleway",sans-serif;
margin-left: 0px;
height: 100%;
width: 100%;
background: #f7f5f2;
position: relative;
}

/* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
    width: 100%;
}


/* Landing Page*/

#landing-page {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 0.8s;
}

h3 {
	font-size: 30px;
}

p{
	font-size: 24px;
}

/*#nav-bar{
	position:relative;
	width:100%;
	height:15%;
	background-color:#B2DDF7; 
}*/

#landing-text{
	text-align: center;
}

#landing-button-spine {
    width: 100%;
    position: absolute;
    text-align: justify;
    z-index: 2;
    justify-content: center;
	display:flex;
	flex-wrap:wrap;
	top: 35%;
}

@media (min-width: 300px) and (max-width: 330px) {
	#landing-button-spine {
		top:77%;
	}
}

@media (min-width: 340px) and (max-width: 380px) {
	#landing-button-spine {
		top:65%;
	}
}

@media (min-width: 390px) and (max-width: 450px) {
	#landing-button-spine {
		top:57%;
	}
}

@media (height: 812px) {
	#landing-button-spine {
		top:55%;
	}
}

.landing-button {
    width: 75px;
    height: 75px;
    margin: 0.5%;
    display: inline-block;
    border-radius: 10%;
    cursor: pointer;
    z-index: 3; 
}

.landing-re-color {
    width: 550px;
    height: 450px;
    background: white;
    display: inline-block;
    border-radius: 10%;
    transition: 2s;
    margin: 0.5%;
}
.landing-re-color > div {
    display: none;
}
#landing-div-spine {
	justify-content: center;
	display:flex;
	flex-wrap:wrap;
    position: relative;
    top:15%;
}

.landing-button:active {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.landing-button:hover {
    opacity: 1;
}

#landing-overlay { 
    height: 100%; 
    width: 100%; 
    position: absolute; 
    z-index: -1; 
    opacity: 0.3;
}

.active { 
    opacity: 1;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
} 

#landing-design { 
    background: #75F0C7;
}

#landing-writing { 
    background: #6666FF; 
} 

#landing-about { 
    background: #A1C6EA;
}


.inactive { 
    opacity: 0.6;
    box-shadow: none;
}