body, html {    /*the outer layer of the site and global style attributes*/
font-family:"Abel","Quattrocento",sans-serif;
margin-left: 0px;
height: 100%;
width: 100%;
background: #ffffff;
position: relative;
}

/* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
    width: 100%;
}


/* Landing Page*/

#landing-page {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 0.8s;
}

#landing-page a{
    cursor:pointer;
}

h4 {
    font-family:"Quattrocento";
    /*font-size: 30px; for my computer screen*/
    font-size: 15px;
}

h3 {
    font-family:"Quattrocento";
    /*font-size: 30px; for my computer screen*/
    font-size: 30px;
}

h2{
    font-family:"Quattrocento";
    /*font-size: 30px; for my computer screen*/
    font-size: 40px;
}

p{
    /*font-size: 24px; for my computer screen*/
    font-size: 28px;
    font-family: "Abel";
}

#page-container{
    position:relative;
    min-height: 100%;
}

#page-container-uxw{
    position:relative;
    min-height:150%;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

footer{
    font-family:"Quattrocento";
    font-size:15px;
    position: absolute;
  bottom: 0;
  right:2%;
  width: 100%;
  text-align: center;
  height:2.5rem;
}


#name-bar-text {
    margin-left: 6.5%;
}

#name-bar-text p{
    display: inline-block;
}

.first-load:hover{
    cursor: pointer;
}

#landing-text{
    margin-right:45%;
    margin-left:6.5%;
    margin-top:5%;
    z-index:2;
}

#uxw-text{
    margin-right:45%;
    margin-left:6.5%;
    margin-top:5%;
    z-index:2;
    animation-name:topFadeOut;
    animation-duration: 5s;
    padding-bottom:2.5rem;
}

#about-text{
    margin-right:45%;
    margin-left:6.5%;
    margin-top:5%;
    z-index:2;
   /* animation-name:topFadeOut;
    animation-duration: 5s;*/
    padding-bottom:2.5rem;
}


#uxw-rewrite-text{
    margin-right:45%;
    margin-left:6.5%;
    margin-top:5%;
    z-index:2;
    animation-name:topFadeOut;
    animation-duration: 5s;
}

/*#landing-text p{
    color:#ffffff;
}*/

#landing-button-spine {
    /*position: fixed;
    z-index: 2;
    top: 10%;
    left:75%; for my computer screen*/
    z-index:2;
    margin-top:0%;
    left:6.5%;
    position:absolute;
    /*right:44%;*/
    justify-content: center;

}

#uxw-button-spine {
    /*position: fixed;
    z-index: 2;
    top: 10%;
    left:75%; for my computer screen*/
    z-index:2;
    margin-top:0%;
    
    position:absolute;
    /*right:44%;*/
    justify-content: center;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;

}

.grid-item{
    margin-right:50px;

}

.landing-button {
   /* width: 75px;
    height: 75px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 3; for my computer screen*/ 
    width: 62px;
    height: 62px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 3; 
    display: inline-block;
}

.uxw-landing-button {
   /* width: 75px;
    height: 75px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 3; for my computer screen*/ 
    width: 150px;
    height:160px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 3; 
    display: inline-block;
}


#landing-button-spine h3{
    font-size:14px;
    text-align: center;
}

#landing-photo{
    position: absolute;
    top:-11%;
    left:50%;
    z-index: 0;
}

#landing-photo-1{
    display:none;
}

.button-text{
    text-align: center;
    font-size: 14px;
}

.landing-re-color{
    /*font-family: "Lato";
    width: 43%;
    height: 350px;
    background: #e0f2ff;
    display: inline-block;
    border-radius: 10%;
    transition: 2s;
    margin: 0.5%;
    z-index: 0;
    position: relative; for my computer screen*/
    font-family: "Abel";
    width: 320px;
    height: 320px;
    display: inline-block;
    border-radius: 5%;
    transition: 2s;
    margin-right: 2.8%;
    margin-left:2.8%;
    margin-bottom:2.8%;
    z-index: 0;
    position: relative;
}

#landing-photo{
    margin-left:15%;
    margin-top:10%;
    z-index:0;
}

#uxw-photo{
    margin-left:110%;
    margin-top:-90%;
    z-index:0;
}

#uxw-photo-1{
    display: none;
}

#about-photo-2{
    position: absolute;
    margin-left:55%;
   top:10%;
}

#about-photo-22{
    display:none;
}

#about-photo-1{
  position: fixed;
  margin-left:0;
}

#about-photo-11{
    display:none;
}

#about-photo-3{
    position: absolute;
    display: inline-block;
    left:82.5%;
    top:55%;
}

#about-photo-33{
    display:none;
}

#landing-scroll-photo{
    display:inline-block;
    margin-left:20%;
    margin-top:-5%;
}

/*.img-overlay{
    width: 320px;
    height: 320px;
    background:#000000;
    opacity:0.2;
    border-radius: 5%;
    transition: 2s;
    margin: 0.5%;
}*/

.box-inner-rectangle{
    position: absolute;
    width:155px;
    height: 320px;
    background-color: #000000;
    z-index: 4;
    border-radius:5%;
    opacity:0.7;
    display: inline-block;
    transition: all 2s cubic-bezier(.76,.83,.26,.97);
    -webkit-transition: all 1s cubic-bezier(.76,.83,.26,.97);
}
.design-box-content {
    color:#d3d3d3;
    margin:10% 10% auto 10%;
    text-decoration:underline;
}

.design-re-text {
    font-family:"Quattrocento";
}

.innertag{
    position:absolute;
    background-color: #000000;
    margin:10%;
    width:70px;
    height:50px;
    opacity:0;
}

.innertag-text p{
    position:absolute;
    color:#ffffff;
    font-size:12px;
    opacity:0;
    margin-top:2.5%;
}

.box-inner-rectangle:hover{
    cursor:pointer;
    width:320px;
    font-size:22px;
    opacity: 1;
}

.box-inner-rectangle:hover .innertag{
    opacity:1;
    display:inline;
    width:250px;
    opacity: 1;
    border-radius: 5%;
    margin-left: 10%;
    transition: all 1.5s ease-in-out;
}

.box-inner-rectangle:hover .innertag-text p{
    display:inline-block;
    transition: all 2s ease-in-out;
    opacity:1;
}

.box-inner-rectangle:hover .innertag-arrow p{
    opacity:1;
    transition: all 1.5s ease-in-out;
}

.innertag-arrow p{
    color:#ffffff;
    margin-left:63.5%;
    margin-top:25%;
    opacity:0;
    font-size:12px;
    display: inline-block;
}

.bounce{
  animation: bounce 2s infinite;
}

/*.scroll{
    scroll-behavior: smooth;
}*/


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(-5px);
  }
}

.design-sub{
    outline:2px dashed #75F0C7;
}

.writing-sub{
    outline:2px dashed #6666FF;
}

.about-sub{
    outline:2px dashed #A1C6EA;
}

.landing-re-color > .design-img-src {
    display: none;
}

.landing-re-color > .writing-img-src {
    display: none;
}

.landing-re-color > .about-img-src {
    display: none;
}

.design-re-text > div {
    display:none;
}

.writing-re-text > div {
    display:none;
}

.about-re-text > div {
    display:none;
}

#landing-div-spine {
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
    position: relative;
    margin-top:10%;
    margin-left:-1%;
}

.landing-button:active {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.landing-button:hover {
    opacity: 1;
}

.uxw-landing-button:active {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.uxw-landing-button:hover {
    opacity: 1;
}

#landing-overlay { 
    height: 0%; 
    width: 100%; 
    position: absolute; 
    z-index: 0; 
    opacity: 0.3;
}

.active { 
    opacity: 1;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
} 

#landing-resume {
    background:#6CD4FF;
}

#uxw-day1{
    background:#A9FBD7;
}

#uxw-day1-fp{
    background: #EBEBD3;
}

#landing-design { 
    background: #CFFCFF;
}

#uxw-day2{
    background:#BDC2BF;
}

#uxw-day2-fp{
    background: #F1F2EB;
}

#uxw-day3{
    background:#FCD3DE;
}

#uxw-day3-fp{
    background: #C9DDFF;
}

#uxw-day4{
    background:#E3DFFF;
}

#uxw-day4-fp{
    background: #39CBA9;
}

#landing-writing { 
    background: #CEEAF7; 
} 

#landing-about { 
    background: #AAEFDF;
}

#landing-contact { 
    background: #A8E0FF;
}

.inactive { 
    opacity: 0.6;
    box-shadow: none;
}

.inactive-box {
    display:none;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -9rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: -2.5rem;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/*earlier versions of iPhone*/
@media (min-width: 300px) and (max-width: 330px) {
    #landing-button-spine {
        margin-top:0%;
    }

    #landing-div-spine{
        margin-top:35%;
    }

    #landing-text{
        margin-right:5%;
    }

    #uxw-text{
        margin-right:0%;
    }

    h3{
        font-size:22px;
    }

    p{
        font-size:18px;
    }   
    #uxw-button-spine {
        /*position: fixed;
        z-index: 2;
        top: 10%;
        left:75%; for my computer screen*/
        z-index:2;
        margin-top:0%;
        
        position:absolute;
        /*right:44%;*/
        justify-content: center;
        display:grid;
        grid-template-columns: auto;
        grid-column-gap: 10px;

    }

    #uxw-text{
        margin-right:0;
        margin-left:10%;
    }

    #page-container-uxw{
        position:relative;
        min-height:240%;
    }

    #landing-photo{
        display: none
    }

    #landing-photo-1{
        position:absolute;  
        left:75%;
        top:-0.5%;      
        display: block;
    }

    #uxw-photo{
        display:none;
    }

    #uxw-photo-1{
        display:block;
        position:absolute;
        left:100%;
        top:-0.5%;
        z-index: 0;
    }

    #about-text{
        margin-right:12%;
        margin-left:12%;
    }

    #about-photo-2{
        display:none;
    }

    #about-photo-22{
        display:inline;
    }

    #about-photo-1{
        display: none;
    }

    #about-photo-11{
        display: inline;
        position:absolute;
    }

    #about-photo-3{
        display:none;
    }

    #about-photo-33{
        display: inline;
        position:absolute;
        right:0;
        top:115px;
    }
}
@media (min-width: 340px) and (max-width: 355px) {
    #landing-button-spine {
        margin-top: 25%;
    }

    #landing-div-spine {
        margin-top:-15%;
    }

    #uxw-button-spine {
        margin-top: -8%;
    }

    #landing-text{
        margin-right:0%;
    }

    #uxw-text{
        margin-right:0%;
    }

    #about-text{
        margin-right:12%;
        margin-left:12%;
    }


    h3{
        font-size:27px;
    }

    p{
        font-size:30px;
    }

    #landing-photo{
        display:none;
    }

    #uxw-photo{
        display:none;
    }

    #uxw-button-spine {
        /*position: fixed;
        z-index: 2;
        top: 10%;
        left:75%; for my computer screen*/
        z-index:2;
        margin-top:0%;
        
        position:absolute;
        /*right:44%;*/
        justify-content: center;
        display:grid;
        grid-template-columns: auto;
        grid-column-gap: 10px;

    }

    #page-container-uxw{
        position:relative;
        min-height: 190%;
    }
}

@media (min-width: 360px) and (max-width: 385px) {
    #landing-button-spine {
        margin-top: -1%;
    }

    #landing-div-spine {
        margin-top:30%;
        margin-left:-1%;
    }

    #uxw-button-spine {
        margin-top: -8%;
    }

    #landing-text{
        margin-right:6%;
    }

    #uxw-text{
        margin-right:0%;
    }

    #about-text{
        margin-right:12%;
        margin-left:12%;
    }


    h3{
        font-size:27px;
    }

    p{
        font-size:20px;
    }

    #landing-photo{
        display:none;
    }

    #landing-photo-1{
        position:absolute;  
        left:75%;
        top:-0.5%;      
        display: block;
    }

    #uxw-photo{
        display:none;
    }

    #uxw-photo-1{
        display:block;
        position:absolute;
        left:87%;
        top:-3.5%;
        z-index: 0;
    }

    #about-photo-2{
        display:none;
    }

    #about-photo-22{
        display:inline;
    }

    #about-photo-3{
        display:none;
    }

    #about-photo-33{
        display:inline;
        position:absolute;
        right:0;
        top:156px;
    }

    #about-photo-1{
        display: none;
    }

    #about-photo-11{
        display: inline;
        position:absolute;
    }

    #uxw-button-spine {
        /*position: fixed;
        z-index: 2;
        top: 10%;
        left:75%; for my computer screen*/
        z-index:2;
        margin-top:0%;
        
        position:absolute;
        /*right:44%;*/
        justify-content: center;
        display:grid;
        grid-template-columns: auto;
        grid-column-gap: 10px;

    }

    #page-container-uxw{
        position:relative;
        min-height: 190%;
    }
}

@media (min-width: 390px) and (max-width: 450px) {
    #landing-button-spine {
        margin-top: 0%;
        margin-left:-1%;
    }

    #landing-div-spine{
        margin-left:-12%;
        margin-top:25%;
    }

    #landing-photo{
        display:none;
    }

    #landing-photo-1{
        position:absolute;  
        left:84%;
        top:-0.5%;      
        display: block;
    }

     #uxw-photo{
        display:none;
    }

    #uxw-photo-1{
        display:block;
        position:absolute;
        left:81%;
        top:-3.5%;
        z-index: 0;
    }

    #about-photo-2{
        display:none;
    }

    #about-photo-3{
        display:none;
    }

    #about-photo-1{
        display: none;
    }

    #about-text{
        margin-right:12%;
        margin-left:12%;
    }

    #about-photo-22{
        display:inline;
    }

    #about-photo-11{
        display: inline;
        position:absolute;
    }

    #about-photo-33{
        display: inline;
        position:absolute;
        right:0;
        top:115px;
    }

    #landing-text{
        margin-left:6%;
        margin-right:7%;
    }

    #uxw-text{
        margin-right:6%;
    }

    h3{
        margin-top:10%;
        font-size:22px;
    }

    p{
        font-size:20px;
    } 

    #uxw-button-spine {
        /*position: fixed;
        z-index: 2;
        top: 10%;
        left:75%; for my computer screen*/
        z-index:2;
        margin-top:0%;
        
        position:absolute;
        /*right:44%;*/
        justify-content: center;
        display:grid;
        grid-template-columns: auto;
        grid-column-gap: 10px;

    }

    #page-container-uxw{
        position:relative;
        min-height: 170%;
    }
}

@media (min-width: 750px) and (max-width: 1024px) {
    /*#landing-button-spine {
        margin-top: 0%;
        margin-left:3%;
    }*/

    #landing-div-spine{
        margin-left:-3%;
        margin-top:15%;
    }

    #landing-photo{
        margin-top:20%;
    }

    #uxw-photo{
       display: none;
    }

    #about-text{
        margin-right:19%;
        margin-left:14%;
    }

    #about-photo-2{
        top:65%;
        left:-27%;
    }

     #about-photo-3{
        top:12%;
    }
   
    #landing-text{
        margin-left:7%;
        margin-right:35%;
    }

    #uxw-text{
        margin-right:0%;
    }

    h3{
        margin-top:10%;
        font-size:22px;
    }

    p{
        font-size:20px;
    } 


    .landing-re-color{
        margin-right: 0.5%;
        margin-left:0.5%;
        margin-bottom:0.5%;
    }

    #uxw-button-spine {
        /*position: fixed;
        z-index: 2;
        top: 10%;
        left:75%; for my computer screen*/
        z-index:2;
        margin-top:0%;
        
        position:absolute;
        /*right:44%;*/
        justify-content: center;
        display:grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;

    }
}

@media (min-width: 1024px) and (max-width: 1166px) {
    #button-spine {
       margin-left:0.5%;
    }

    #landing-div-spine{
        margin-left:0%;
        margin-top:11%;
    }

    #landing-photo{
        margin-top:16%;
        margin-left:10%;
    }

    #uxw-photo{
        display:none;
    }

  #about-text{
        margin-right:19%;
        margin-left:14%;
    }

    #about-photo-2{
        top:43%;
        left:-27%;
    }

     #about-photo-3{
        top:12%;
    }
   
    #landing-text{
        margin-left:7%;
        margin-right:50%;
    }

    #uxw-text{
        margin-right:22%;
        margin-left:7%;
    }

    h3{
        margin-top:10%;
        font-size:22px;
    }

    p{
        font-size:20px;
    } 

    .landing-re-color{
        margin-right: 0.5%;
        margin-left:0.5%;
        margin-bottom:0.5%;
    }

    #uxw-button-spine {
        /*position: fixed;
        z-index: 2;
        top: 10%;
        left:75%; for my computer screen*/
        z-index:2;
        margin-top:0%;
        
        position:absolute;
        /*right:44%;*/
        justify-content: center;
        display:grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;

    }
}

